.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
}

.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 39px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__avatar-placeholder {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

.sidebar__username {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.sidebar__edit-btn,
.sidebar__logout-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 0;
  text-align: left;
  transition: color 0.2s ease;
  font-weight: 700;
  font-size: 20px;
  font-family:
    Cabinet Grotesk,
    Arial,
    Helvetica,
    sans-serif;
}

.sidebar__edit-btn:hover,
.sidebar__logout-btn:hover {
  color: #000;
}

.sidebar__logout-btn {
  margin-top: auto;
}
